<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Factor Results</h2>

    <p>number = <%= @x %></p>
    <p>Factors: <%= for factor <- @y do %>
      <%= factor %><%end %>
    </p>
  </div>
</div>
